a {
    color: $sm-second-primary;
}

.btn-primary {
    background-color: $button-color;
    border-color: $button-color;
    &:hover {
        background-color: $button-color-hover;
        border-color: $button-color-hover;
    }
}

.btn-secondary {
    color: black;
}

.nav-tabs {
    .nav-link {
        &.active {
            color: black;
        }
    }
}

.o_required_modifier {
    &.o_input,
    .o_input {
        background-color: $required-field-color !important;
    }
}

.modal-header {
    color: white;
}

// header {
//   background-color: $o-brand-primary;
// }
.modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.close {
    color: white;
    &:hover {
        background-color: black;
        color: white;
    }
    &:not(:disabled) {
        &:not(.disabled) {
            &:hover {
                color: white;
            }
        }
    }
}

.o_main_navbar {
    .o_menu_sections {
        li {
            &.active {
                font-weight: bold;
                background-color: $o-community-color-dark;
            }
        }
    }
    .o_menu_apps {
        .dropdown-menu {
            border: none;
            border-radius: 0;
            height: calc(100vh - 100%);
            max-height: calc(100vh - 100%);
            padding: 0;
            display: block;
            left: -282px;
            -webkit-transition: left 0.25s;
            /* For Safari 3.1 to 6.0 */
            transition: left 0.25s;
            margin-top: 0;
            &.show {
                left: 0;
            }
            .sm_menu_container {
                height: calc(100% - 146px);
                overflow: auto;
                padding: 0;
                background-color: white;
                a {
                    background-color: white;
                    padding-left: 10px;
                    &:not(:first-child) {
                        border-top: 1px #d8d8d8 solid;
                    }
                    span {
                        font-size: 1.75rem;
                        //margin: 12px 0;
                        width: 46px;
                        text-align: center;
                    }
                    &:hover {
                        background-color: #e8e8e8;
                    }
                    &.active {
                        background-color: $o-community-color;
                        color: white;
                    }
                }
            }
            .sm_menu_app_summary {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 10px;
                text-align: center;
                //background-color: transparent;
                //background-color: black;
                height: 120px;
                div {
                    text-align: left;
                    padding: 5px 8px;
                    line-height: 1.5rem;
                    border-bottom: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                }
                img {
                    width: 66%;
                    margin: auto;
                }
            }
            .sm_menu_app_footer {
                font-size: 10px;
                line-height: 26px;
                height: 26px;
                text-align: center;
                width: 100%;
            }
        }
    }
    .dropdown-menu {
        line-height: 3.6rem;
        font-size: 1.35rem;
        max-width: 280px;
        &.show {
            min-width: 280px;
            max-width: 280px;
            .dropdown-menu {
                .dropdown-item {
                    padding: 3px 40px;
                }
            }
        }
    }
}

.o_form_view {
    .o_form_uri {
        color: $sm-second-primary;
    }
    .oe_title {
        max-width: 100%;
    }
    .oe_button_box {
        //max-width: 100%;
        .oe_stat_button {
            .o_button_icon {
                color: $sm-second-primary;
            }
        }
    }
    .sm_salesboss_web_page {
        max-width: 1080px;
        margin: auto;
    }
    .sm_img_mobile_screen {
        width: 480px;
        max-width: 100%;
    }
}

html {
    .o_web_client {
        .o_main {
            overflow: auto;
        }
    }
    .o_notebook {
        .o_notebook_headers {
            overflow: auto;
            .nav-tabs {
                width: max-content;
            }
        }
    }
}

@media all and (max-width: 767px) {
    body {
        font-size: 1.25rem;
    }
    .btn {
        font-size: 1.1rem;
    }
    .btn-group {
        .dropdown-menu {
            padding: 0;
            a[role=menuitem] {
                font-size: 1.25rem;
                padding: 6px 20px;
            }
            a:not(:first-child) {
                border-top: 1px solid #ccc;
            }
        }
    }
    .o_main_navbar {
        ul {
            &.o_menu_systray {
                position: absolute;
                right: 0;
                top: 0;
                span.oe_topbar_name {
                    display: none;
                }
            }
        }
        .o_menu_sections {
            //background-color: $o-brand-primary;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            overflow: auto;
            li {
                margin: 5px 5px 0 5px;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                float: unset;
                display: inline-flex;
                &:hover {
                    background-color: white;
                    font-weight: bold;
                }
                &.active {
                    background-color: white;
                    font-weight: bold;
                }
                a {
                    height: 36px;
                    line-height: 36px;
                    color: $o-brand-primary;
                    &:hover {
                        background-color: unset;
                    }
                }
                .dropdown-menu {
                    position: fixed;
                    top: 88px;
                    left: 50%;
                    max-height: calc(100% - 133px);
                    transform: translate(-50%, 0);
                    .dropdown-header {
                        color: black;
                    }
                }
            }
        }
    }
    .o_form_view {
        .oe_chatter {
            min-width: unset;
            max-width: 100%;
        }
        .o_chatter {
            .o_chatter_topbar {
                overflow: auto;
            }
        }
        &.o_xxs_form_view {
            .oe_title {
                word-break: break-word;
            }
            .o_group {
                &.o_inner_group {
                    tbody {
                        tr {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
        .o_form_uri {
            display: inline-table;
        }
        .o_form_statusbar {
            .o_statusbar_buttons {
                overflow: auto;
                flex-wrap: nowrap;
                button {
                    white-space: nowrap;
                }
            }
            .o_statusbar_status {
                button {
                    white-space: nowrap;
                }
                .o_arrow_button {
                    font-size: 1.15rem;
                    &.btn-primary {
                        overflow: hidden;
                        font-size: 1.15rem;
                        &.disabled {
                            font-size: 1.15rem;
                        }
                    }
                }
                .btn-secondary {
                    display: none;
                }
            }
        }
        td {
            &.o_td_label {
                .o_form_label {
                    font-size: 1.1rem;
                }
            }
        }
        .o_form_label {
            font-size: 1.15rem;
            font-weight: normal;
        }
        h1 {
            .o_field_widget {
                font-size: 1.75rem;
            }
        }
        .o_field_widget {
            font-size: 1.35rem;
        }
        .o_form_sheet_bg {
            .o_form_sheet {
                min-width: unset;
            }
        }
    }
    .o_main {
        .o_control_panel {
            ol.breadcrumb {
                display: none;
                li:first-child {
                     :after {
                        content: '<a href="#">Back</a>';
                    }
                    a {
                        display: none;
                    }
                }
            }
            .o_cp_searchview {
                width: 100%;
            }
            .o_cp_right {
                float: right;
                width: unset;
                display: contents;
                .o_cp_pager {
                    margin-top: 5px;
                    margin-bottom: 0;
                    button {
                        padding: 4px 9px;
                    }
                }
                .o_cp_switch_buttons {
                    ul {
                        &.dropdown-menu {
                            min-width: unset;
                            li {
                                padding: 3px;
                                text-align: center;
                                button {
                                    background-color: white;
                                    font-size: 2.5rem;
                                    &.active {
                                        background-color: #e6e5e5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .o_cp_left {
                .o_cp_sidebar {
                    padding: 0 10px;
                }
                width: auto;
            }
        }
    }
    .o_group.o_inner_group {
        min-width: 100%;
    }
    .o_group {
        tbody {
            tr {
                td {
                    padding-right: 0 !important;
                }
            }
        }
    }
    .o_main_navbar {
        .o_menu_sections {
            background-color: #efefef;
        }
        .o_menu_apps {
            li.dropdown {
                a.full {
                    font-size: 2rem;
                }
            }
        }
    }
    html {
        overflow: hidden;
        .o_loading {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 26px;
            color: white;
            background-color: $loading-color;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .table-sm th,
    .table-sm td {
        padding: 0.6rem 0.8rem;
    }
    .o_kanban_view {
        .o_kanban_record {
            .o_kanban_record_title {
                font-size: 1.35rem;
            }
        }
    }
}

.sm_menu_container {
    .o_menu_icons {
        height: 32px;
        width: auto;
        margin-right: 6px;
    }
}

.o-app-icon {
    height: 32px;
    width: auto;
    margin-right: 6px;
}

.o_kanban_view {
    .o_kanban_record {
        .o_kanban_record_title {
            font-weight: bold;
        }
    }
}

.oe_kanban_details {
    .o_kanban_state {
        padding: 0 5px;
        border-radius: 4px;
        border: 1px solid $o-brand-primary;
    }
    .sm_order_info {
        width: 100%;
    }
    .o_left {
        float: left;
    }
    .o_right {
        float: right;
    }
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}

.o_web_client {
    .o_mobile_search {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
        overflow: auto;
        .o_mobile_search_header {
            height: 46px;
            line-height: 46px;
            display: flex;
            margin-bottom: 10px;
            width: 100%;
            background-color: $o-brand-odoo;
            color: white;
            span:active {
                background-color: darken($o-brand-primary, 10%);
            }
            button {
                color: white;
            }
            &>button:last-child {
                flex: 0 1 auto;
                margin: auto 0 auto auto;
            }
            &>button:first-child {
                margin: 0;
            }
        }
        .o_searchview_input_container {
            display: flex;
            padding: 15px 20px 0 20px;
            position: relative;
            .o_searchview_input {
                width: 100%;
                margin-bottom: 15px;
                border-bottom: 1px solid $o-brand-secondary;
            }
            .o_searchview_facet {
                border-radius: 0;
                display: inline-flex;
                order: 1;
                .o_searchview_facet_label {
                    border-radius: 0;
                }
            }
            .o_searchview_autocomplete {
                top: 100%;
                >li {
                    margin: 5px 0px;
                }
            }
        }
        .o_mobile_search_filter {
            box-sizing: border-box;
            padding: 15px;
            .o_dropdown {
                width: 100%;
                margin: 15px 0;
                border: solid 1px darken(gray('200'), 20%);
            }
            .o_dropdown_toggler_btn {
                width: 100%;
                text-align: left;
                margin: 0;
            }
            // We disable the backdrop in this case because it prevents any
            // interaction outside of a dropdown while it is open.
            .dropdown-backdrop {
                z-index: -1;
            }
            .dropdown-menu {
                // Here we use !important because of popper js adding custom style
                // to element so to override it use !important
                position: relative !important;
                width: 100% !important;
                transform: translate3d(0, 0, 0) !important;
                box-shadow: none;
                border: none;
                color: gray('600');
                .divider {
                    margin: 0px;
                }
                >li>a {
                    padding: 10px 26px;
                }
            }
        }
        .o_mobile_search_footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 15px;
            font-size: 17px;
            z-index: 1000;
            width: 100%
        }
    }
}

$btn-color: #00A09D;
@media screen and (max-width: 767px) {
    .o_drop_shadow {
        -webkit-box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.35);
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.35);
    }
    .o_floating_action_button {
        @extend .o_drop_shadow;
        margin: 3px;
    }
    .o_circle_icon_button {
        margin: 7px;
        border-radius: 50%;
        color: transparent;
        height: 50px;
        width: 50px;
        &.btn-secondary {
            background: white;
            border: 1px #cccccc solid;
            &:before {
                color: $btn-color;
            }
        }
        &.btn-primary {
            &:before {
                color: white;
            }
        }
        &:before {
            font-size: 1.75rem;
            line-height: 38px;
            font-family: FontAwesome;
        }
    }
    .o_control_panel {
        .breadcrumb-item {
            margin: auto;
            font-size: 1.5rem;
            &:before {
                content: unset;
            }
        }
        .o_back_button {
            border: none;
            &:before {
                font-family: FontAwesome;
                content: ""; // fa-arrow-left
                display: inline-block;
                font-size: 2rem;
                padding: 0; // override bootstrap
                color: $sm-second-primary;
            }
        }
    }
    .o_action:not(.o_graph_controller):not(.o_pivot_controller):not(.o_gantt_controller) {
        .o_web_smobile_fab {
            position: fixed;
            z-index: 999;
            right: 15px;
            bottom: 15px;
            //width: min-content;
            .o_cp_buttons {
                .o-kanban-button-new {
                    @extend .o_circle_icon_button;
                    &:before {
                        content: "\f067";
                    }
                }
                .o_form_buttons_view,
                .o_form_buttons_edit,
                .o_list_buttons {
                    button {
                        @extend .o_floating_action_button;
                        &.o_form_button_create {
                            @extend .o_circle_icon_button;
                            &:before {
                                content: "\f067";
                            }
                        }
                        &.o_list_button_add {
                            @extend .o_circle_icon_button;
                            &:before {
                                content: "\f067";
                            }
                        }
                        &.o_form_button_edit {
                            @extend .o_circle_icon_button;
                            &:before {
                                content: "\f040";
                            }
                        }
                        &.o_form_button_save {
                            @extend .o_circle_icon_button;
                            &:before {
                                content: "\f00c";
                            }
                        }
                        &.o_form_button_cancel {
                            @extend .o_circle_icon_button;
                            &:before {
                                content: "\f00d";
                            }
                        }
                    }
                }
                .dropdown {
                    .dropdown-toggle {
                        @extend .o_floating_action_button;
                        @extend .o_circle_icon_button;
                        &[aria-expanded=true] {
                            &:before {
                                content: "\f00d";
                            }
                        }
                        &[aria-expanded=false] {
                            &:before {
                                content: "\f067";
                            }
                        }
                    }
                    .dropdown-menu {
                        width: max-content;
                        max-width: max-content;
                        position: absolute;
                        top: 0;
                        left: 360px !important;
                        background: none;
                        border: none;
                        transform: translate(calc(-100% + 50px), -100%) !important;
                        display: block;
                        overflow: hidden;
                        -webkit-transition-duration: 0.25s;
                        transition-duration: 0.25s;
                        box-shadow: none;
                        padding: 7px;
                        &.show {
                            left: 0 !important;
                        }
                        button {
                            @extend .o_floating_action_button;
                            width: 100%;
                            min-width: fit-content;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            margin-top: 7px;
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
        .o_control_panel {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            box-sizing: border-box;
            .o_cp_top,
            .o_cp_bottom {
                flex: 1 1 0;
                max-width: 100%;
            }
            .o_cp_bottom_right {
                .o_pager {
                    float: right;
                }
            }
            .o_cp_top {
                .breadcrumb {
                    flex-wrap: nowrap;
                }
                .breadcrumb>li {
                    max-width: unset;
                }
            }
        }
    }
    .o_action.o_form_controller {
        .o_web_smobile_fab {
            width: min-content;
        }
    }
    .o_action.o_kanban_controller,
    .o_action.o_list_controller {
        .o_web_smobile_fab {
            .o_cp_buttons {
                &>div {
                    display: flex;
                    flex-direction: row-reverse;
                }
                button {
                    @extend .o_floating_action_button;
                    border-radius: 8px;
                    margin: 7px;
                    height: 50px;
                    font-size: 1.15rem;
                    font-weight: 400;
                }
            }
        }
    }
    .o_action {
        .o_control_panel {
            .o_cp_searchview {
                @extend .o_floating_action_button;
                @extend .o_circle_icon_button;
                transition-duration: 0.25s;
                background: white;
                opacity: 0.7;
                z-index: 900;
                right: 15px;
                bottom: 79px;
                position: fixed;
                .o_searchview {
                    margin: auto;
                    align-items: center;
                    border: none;
                    text-align: center;
                    background-color: transparent;
                    padding: 1px;
                    button {
                        &:before {
                            color: $btn-color;
                            font-size: 1.75rem;
                            line-height: 42px;
                        }
                    }
                    .o_searchview_input_container {
                        flex: 1 1 auto;
                        .o_facet_values {
                            color: #121212;
                        }
                    }
                }
                &.o_searchview_quick {
                    @extend .o_drop_shadow;
                    border-radius: 3px;
                    width: calc(100% - 30px);
                    padding: 10px;
                    z-index: 999;
                    background: white;
                    border: 1px solid #ccc;
                    font-size: 1.2rem;
                    height: auto;
                    opacity: 1;
                }
            }
            .o_searchview_quick {
                .o_searchview {
                    border-bottom: 1px solid #535353;
                    display: flex;
                    flex: 1 1 auto;
                }
            }
            .o_cp_bottom_right {
                flex: 1 1 auto;
                &>*:first-child {
                    margin: auto 0 auto auto;
                }
            }
        }
        .o_controller_with_searchpanel {
            flex-direction: column;
            .o_search_panel_summary {
                flex: 1 1 auto;
                height: unset;
                width: 100%;
            }
        }
    }
    .o_main_navbar {
        .o_menu_brand {
            float: left;
            color: white !important;
        }
    }
    .o_list_export_xlsx {
        display: none;
    }
    .o_cp_switch_buttons {
        .o_switch_view {
            width: 53px;
            &:before {
                font-size: 2rem;
            }
        }
    }
    .o_widget_Discuss {
        .o_control_panel {
            .o_cp_top {
                display: flex;
                .breadcrumb {
                    flex: 0 1 auto;
                    margin-right: auto;
                    &>li {
                        max-width: unset;
                    }
                }
                .o_cp_searchview {
                    transition-duration: 0.25s;
                    background: white;
                    .o_searchview {
                        margin: auto;
                        align-items: center;
                        border: none;
                        text-align: center;
                        background-color: transparent;
                        padding: 1px;
                        button {
                            &:before {
                                color: $btn-color;
                                font-size: 1.75rem;
                                line-height: 42px;
                            }
                        }
                        .o_searchview_input_container {
                            flex: 1 1 auto;
                            .o_facet_values {
                                color: #121212;
                            }
                        }
                    }
                    &.o_searchview_quick {
                        width: 100%;
                        .o_searchview {
                            display: flex;
                            .o_searchview_input_container {
                                height: 46px;
                                border-bottom: 1px solid #dddddd;
                            }
                        }
                        // @extend .o_drop_shadow;
                        // border-radius: 3px;
                        // width: calc(100% - 30px);
                        // padding: 10px;
                        // z-index: 999;
                        // background: white;
                        // border: 1px solid #ccc;
                        // font-size: 1.2rem;
                        // height: auto;
                        // opacity: 1;
                    }
                }
            }
        }
    }
    .o_base_settings {
        .o_setting_container {
            .settings_tab {
                display: none;
            }
        }
    }
}

.o_activity_view {
    overflow: auto;
}

.o_form_controller {
    .o_cp_searchview {
        display: none;
    }
}

.btn {
    line-height: 1.75;
    border-radius: 0;
}
