.o_control_panel > .o_cp_searchview {
    width: 35%;
    min-height: 30px;
}

.o_control_panel {
    .o_search_reason_view {
        width: 15%;

        .o_search_reason_input {
            min-height: 30px;
        }
    }
    &.o_breadcrumb_full {
        .o_search_reason_view {
            display: none !important;
        }
    }
}

