$o-brand-odoo: #243742;
$o-brand-primary: #00005a;

$af-required-color: #d1dfe6;

$af-apps-color: #f8f9fa;

$af-appbar-color: white;
$af-appbar-background: #00005a;

$af-brand-gradient-start: lighten($o-brand-odoo, 10%);
$af-brand-gradient-end: lighten($o-brand-odoo, 20%);


// AF Colors
//------------------------

$brand-primary: #00005a; // Färgytor, infografik, diagram, primär knapp, nyhetspuff, skjutreglage , grafik
$brand-primary-hover: #1616b2; // hover på primärfärg
$brand-primary-20: #ccccde;
$brand-secondary: #b7ee4a; // Viktiga ingångar, endast mot profilblå bakgrund
$brand-secondary-hover: #caff62;
$brand-symbol: #95c23e; // Grafik på vit/ljus bakgrund
$brand-symbol-40: #d5e6b2;
$brand-symbol-10: #f4f8eb;
$brand-green-40: #d5e6b2;
$brand-pink: #d43372; // Kampanjyta, grafiska element
$brand-pink-40: #eeadc7;
$brand-white: #ffffff; // Bakgrundsfärg
$brand-black: #000000;
$brand-grey-90: #333333; 
$brand-grey-70: #666666;
$brand-grey-50: #999999;
$brand-grey-30: #d1d1d1;
$brand-grey-20: #efefef; // Hover på dropdown
$brand-grey-10: #f5f5f5; // Bakgrundsfärg om inte vitt fungerar

$button-primary: #00005a;
$button-primary-text: #fff;
$button-primary-hover: #1616b2;
$button-secondary: #fff;
$button-secondary-hover: #1616b2;
$button-secondary-text: #00005a;
$button-secondary-text-hover: #1616b2;

// Funktionsfärger

$brand-blue: #1616b2; // Viktig information, länkar, länkikoner, primära knappars och e-tjänsteingångars hover
$brand-blue-hover: #f1f8fe;
$brand-blue-light: #f1f8fe; // Sekundära knappars och e-tjänsteingångars hover
$brand-green: #058470; // Kryssruta, checkbox, radiobutton, OK, även komplementfärg
$brand-green-10: #f4f8eb; // Positiv validering meddelande, bakgrundsplatta
$brand-yellow: #fddc41; // Varningsmeddelande och status
$brand-yellow-light: #fff8d9; // Varningsmeddelande
$brand-red: #e21c50; // Endast felmeddelande
$brand-red-light: #fdedf3; // Endast felmeddelande
$brand-link-hover: #424ae0;
$brand-link-visited: #822998;

