.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $o-brand-odoo
    }
}

.o_required_modifier {
    &.o_input, .o_input {
        //background-color: $af-required-color !important;
        background-color: #fff !important;
		border-bottom: 3px solid $brand-primary;
    }
    
    &.o_input, .o_input:hover {
	    border-bottom: 3px solid $brand-primary-hover;
    } 
}


.o_field_invalid {
	&.o_input, .o_input {
		border-color: $brand-red;
		border-bottom: 3px solid $brand-red !important;
	}	
}

@include media-breakpoint-down(sm) {
    .o_form_view .af_mobile_add {
		margin-left: 0 !important;
        margin-bottom: 10px !important;
	}
}
